@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@mixin minimalGradient() {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  height: 5rem;
  width: 100%;
  opacity: 0.4;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    theme("colors.secondary") 0,
    theme("colors.primary") 100%
  );
}

.gradient-circle {
  top: -30px;
  @include minimalGradient();
}
.gradient-circle-button {
  bottom: -20px;
  @include minimalGradient();
}

html {
  @apply h-full w-full overflow-auto;
}

body {
  @apply bg-white transition-all duration-200 dark:bg-black;

  .text-body {
    @apply text-sm;
  }
  @screen md {
    .text-body {
      @apply text-base;
    }
  }

  @screen lg {
    .text-body {
      @apply text-lg;
    }
  }
  > :first-child {
    position: relative;
  }
}

@layer base {
  :root {
    --color-primary: #{30} #{64} #{175};
    --color-primary-variant: #{30} #{64} #{175};
    --color-secondary: 107 107 248;
    --color-disabled: 229 231 235;
    --color-border: 204 214 229;
    --app-height: 100%;
  }
  :root[class="dark"] {
    --color-primary: #{57} #{87} #{255};
    --color-primary-variant: #{57} #{107} #{255};
    --color-border: 31 41 55;
  }
}

@layer components {
  nav > :first-child,
  section > :first-child,
  footer > :first-child {
    @apply m-auto w-full max-w-5xl px-5;

    @screen md {
      @apply px-7;
    }

    @screen lg {
      @apply px-8;
    }

    @screen 2xl {
      @apply max-w-5xl;
    }
  }

  button,
  [role="button"].button {
    @apply select-none rounded-lg px-4 py-2 text-base transition-all duration-200 ease-out active:bg-slate-100 hover:bg-slate-100 md:active:scale-x-105 md:hover:scale-x-105;
    @apply dark:active:bg-slate-800 dark:hover:bg-slate-800;

    &.primary {
      @apply bg-primary px-6 text-white active:bg-opacity-95 hover:bg-opacity-95;
      @apply dark:active:bg-primary dark:active:bg-opacity-80 dark:hover:bg-primary dark:hover:bg-opacity-80;
    }
    &.inline {
      @apply w-full active:bg-slate-100 hover:bg-slate-100;
    }
    &[disabled] {
      @apply bg-slate-300 text-gray-700;
    }
  }
  button.next,
  [role="button"].next {
    @apply flex items-center justify-center rounded-lg p-2 transition-all  duration-200 ease-out active:backdrop-blur-sm hover:backdrop-blur-sm active:dark:bg-slate-900 hover:dark:bg-slate-900;
  }

  input,
  textarea {
    @apply appearance-none  rounded border-2 bg-transparent px-3  py-2 text-gray-700 outline-none outline-offset-0 transition-all duration-300 focus:border-primary;
    @apply border-borderc dark:text-gray-100 focus:dark:border-primary;
  }
  ul.decorated {
    li {
      @apply flex gap-2;
      &::before {
        @apply text-xl text-primary;
        content: "▹";
      }
    }
  }

  .description {
    @apply text-gray-700 duration-300 dark:text-slate-300;
  }
}

.hello {
  position: absolute;
  top: -0.3rem;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;

  @screen md {
    top: -0.55rem;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#toogle {
  @apply relative flex h-6 w-6 cursor-pointer items-center justify-center;

  &::before {
    content: "";
    height: 2px;
    transform: translateY(-6px);
    box-shadow: 0 6px 0;
    color: inherit;
    @apply absolute w-4 bg-black text-black dark:bg-white dark:text-white;
  }
  &.active::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 0 black;
    @apply shadow-black dark:shadow-white;
  }
  &::after {
    content: "";
    height: 2px;
    transform: translateY(6px);
    @apply absolute w-4 bg-black dark:bg-white;
  }
  &.active::after {
    @apply translate-y-0 -rotate-45;
  }
}

::-webkit-scrollbar {
  @apply w-1 shadow-none transition-all duration-200 ease-out md:w-3;
}

::-webkit-scrollbar-track {
  @apply bg-transparent shadow-none transition-all duration-200 ease-out;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary bg-opacity-20 shadow-none transition-all duration-700 ease-out hover:bg-primary hover:bg-opacity-30;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.image-container {
  width: 100%;
  height: auto;
  display: flex;
  aspect-ratio: 16/9;

  > span {
    position: unset !important;
    width: 100% !important;
    > img {
      object-fit: cover;
      width: 100% !important;
      position: relative !important;
      height: auto !important;
    }
  }
}
